//
// BINDING.RC - resources Microsoft Visual C++ does not edit directly
//

// Needed for version resource
#include "winver.h"
#include "build.h"


#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
// Add manually edited resources here...

#define BEGINCOPYRIGHT   "2001"
#define FILEDESCRIPTION  PRODUCTNAME " i.Know Model (common)"
#define INTERNALNAME     "ModelCommon"
#define ORIGINALFILENAME "iKnowModelCommon.dll"
#define COPYRIGHTHOLDER "InterSystems Corporation"

#include "build.rc"

/////////////////////////////////////////////////////////////////////////////
